<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/header") %>
        <title>Home</title>
</head>

<body>
    <%- include("./partials/nav") %>
    <% if (locals.user) { %>
        <div class="container mt-3 row row-cols-3">
            <% blogs.forEach(blog=> { %>
                <div class="col">
                <div class="card col" style="width: 18rem;">
                    <img src="<%=blog.coverImageUrl%>" class="card-img-top" alt="img">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= blog.title %>
                        </h5>
                       
                        <a href="/blog/<%=blog._id%>" class="btn btn-dark">Read</a> By: <%=blog.createdBy.fullName%>
                    </div>
                </div>

            </div>
            
            <% }); %>
        </div>
        <% } else { %>
<h3>LogIN to view</h3>
            <%} %>

        <%- include("./partials/footer") %>
</body>

</html>